<clock-component type="blueThemeAccent" locales="en-GB" timezone="Europe/Bucharest"></clock-component>
<clock-component type="pinkThemeAccent" locales="en-GB" timezone="Europe/Bucharest"></clock-component>
<clock-component type="brightPinkThemeAccent" locales="en-GB" timezone="Europe/Bucharest"></clock-component>
<clock-component type="purpleThemeAccent" locales="en-GB" timezone="Europe/Bucharest"></clock-component>
<clock-component type="orangeThemeAccent" locales="en-GB" timezone="Europe/Bucharest"></clock-component>
<clock-component type="greenThemeAccent" locales="en-GB" timezone="Europe/Bucharest"></clock-component>

<clock-component-customizable type="border-dashed" textColor="#FAF3DD" borderColor="black"
                              backgroundColor="#68B0AB" locales="en-GB"
                              timezone="Europe/Bucharest"></clock-component-customizable>


<todo-list-component
  [tasks]="tasks"
  [categories]="categories"
  (tasks-changed)="onTasksChanged($event)"
  (categories-changed)="onCategoriesChanged($event)"
></todo-list-component>

<div>
  <ul>
    <li *ngFor="let category of categories">{{ category }}</li>
  </ul>
</div>


<div>
  <ul>
    <li *ngFor="let task of tasks">{{ task.name + " " + task.category + " " + task.completed }}</li>
  </ul>
</div>
